# ====== PUERTO DONDE SE EJECUTA LA APP ====== 
APP_PORT=3000

# ====== LLAVE SECRETA PARA 'ACCESS_TOKEN' ======
SECRET_KEY_JWT="llave_secreta_de_tokens_de_jtw"
# ====== LLAVE SECRETA PARA 'REFRESH_TOKEN' ======
SECRET_KEY_JWT_REFRESH="llave_secreta_de_tokens_de_refresco_jwt"